<% @all_confesses.each do |confess| %>
	<tr>
		<td class="d-flex justify-content-between">
			<span><%= confess.text.html_safe %></span>
			<%#= confess.vote.user_votes if confess.vote %>
			<%#= link_to 'deletar', confess_path(confess.id), method: :delete %>
		</td>
	</tr>
<% end %>